*.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Assets/twe36/Assignment[[:space:]]Folder/Models/Animations/Tarras/Cursed_Headon.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Assets/twe36/Assignment[[:space:]]Folder/Models/Tarras.Fbx filter=lfs diff=lfs merge=lfs -text
